SERVICE_HOST=http://simtix-ticketing
SERVICE_STATE=1
SERVICE_NAME=simtix-ticketing
SERVICE_PORT=3002
GRACEFULLY_DURATION=5s
DB_HOST=simtix-ticketing-db
DB_PORT=5432
DB_PASSWORD=simtix
DB_USERNAME=simtix
DB_NAME=simtix-ticketing
PAYMENT_ENDPOINT=simtix-ticketing:8001

POSTGRES_PASSWORD=simtix
POSTGRES_USER=simtix
POSTGRES_DB=simtix-ticketing