SERVICE_HOST=http://localhost
SERVICE_STATE=1
SERVICE_NAME=simtix-ticketing
SERVICE_PORT=3002
GRACEFULLY_DURATION=5s
DB_HOST=localhost
DB_PORT=8006
DB_PASSWORD=simtix
DB_USERNAME=simtix
DB_NAME=simtix-ticketing
PAYMENT_ENDPOINT=http://localhost:3003/api/payment
WEBHOOK_SECRET=chow
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_HOST=localhost
AMQP_PORT= 5672
REDIS_HOST=localhost
REDIS_PORT=6378
POSTGRES_PASSWORD=simtix
POSTGRES_USER=simtix
POSTGRES_DB=simtix-ticketing