version: '3'
services:
  simtix-client-db:
    image: postgres
    env_file:
      - .env
    hostname: ${PSQL_HOST}
    environment:
      POSTGRES_DB: ${PSQL_DBNAME}
      POSTGRES_USER: ${PSQL_USERNAME}
      POSTGRES_PASSWORD: ${PSQL_PASSWORD}
    ports:
      - '8080:5432'
    volumes:
      - simtix_client_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PSQL_USERNAME} -d ${PSQL_DBNAME} -h ${PSQL_HOST} -p 5432"]
      interval: 5s
      timeout: 3s
      retries: 5

  simtix-rabbitmq:
    image: rabbitmq:3-management
    ports:
      - '5672:5672'
      - '15672:15672'
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_running" ]
      interval: 10s
      timeout: 5s
      retries: 5

  simtix-client:
    build: .
    env_file:
      - .env
    ports:
      - '8000:8000'
    depends_on:
      simtix-client-db:
        condition: service_healthy
      simtix-rabbitmq:
        condition: service_healthy
    restart: on-failure

volumes:
  simtix_client_db: